{% extends 'groups/group_base.html' %}
{% block pregroup %}
    <h1>{{ group.name }}</h1>
    <h3>Member Count: {{ group.members.count }}</h3>
    <div class="content">
        {% if user in group.members.all %}
            <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-fill btn-danger">Leave Group</a>
        {% else %}
            <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-fill btn-warning">Join Group</a>
        {% endif %}
    </div>
{% endblock %}

{% block group_content %}
    <div class="col-md-8">
        {% if group.posts.count == 0 %}
            <br>
            <h2>No Posts in this group yet!</h2>
        {% else %}
            <br>
            <br>
            <h2>Posts</h2>
            <hr>
            {% for post in group.posts.all %}
                {% comment %} includes functionality is similar to {% extends '....' %} except you are inserting the
                 content of another template into the current template at a specific location.
                 It is particularly useful for reusing smaller components across multiple templates, such as cards,
                 navigation bars, or other repeating structures.
                {% endcomment %}
                {% include 'posts/_post.html' %}
                <hr>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}